/* Reset */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    color: #fff;
}


/* Generics */
header {
    height: 75vh;
    background-color: #3161E0;
    text-align: center;
    padding: 20px 0;
}

nav li {
    display: inline-block;
    padding: 0 20px;
}

section {padding: 15px;}

h1, h2, h3, p, button {margin-bottom: 20px;}

h1, h2 {font-size: 40px;}

h3 {font-size: 34px;}

button {margin: 0 10px;}


/* Utilities */
.container {margin: 0 auto;}

.flex-container {display: flex;}

.container-green, .container-orange, .container-red {
    height: 300px;
    padding: 20px;
}
.container-green{
    width: 450px;
    background-color: #29a039;
    text-align: center;
    line-height: calc(300px - 40px);
}
.container-orange{
    background-color: #ce832e;
    width: 300px;
}

.container-red {
    background-color: #7a1616;
    height: 150px;
    width: 750px;
    text-align: center;
}

.black-text {color: black;}

.btn-primary {
    background-color: transparent;
    border-radius: 50px;
    padding: 5px 10px;
}

.border {border: 2px dashed black;}


/* Header */
#logo {
    height: 20px;
    width: 80px;
}

header div.flex-container {
    align-items: flex-start;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

header section.container {width: 600px;}


/* Main */
main > section:nth-child(even){
    background-color: #929292;
}


/* Main Sections */
main > section {
    height: 90vh;
}

main > section div.flex-container {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
}


/* Last Section of the Main */
main > section:last-child {height: 150vh;}

main > section:last-child > .flex-container {
    flex-direction: column;
}


/* Footer */